/* general section  */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Saira', sans-serif;
    padding-top: 2em;
    padding-bottom: 5em;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .brands {
        margin: 0;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .brands {
        margin: 0 4em;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .brands {
        margin: 0 6em;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .brands {
        margin: 0 8em;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .brands {
        margin: 0 10em;
    }
}

.guitar,
.guitars {
    margin: 0 auto;
    box-shadow: #26394d 0 2em 3em 0;
}

.guitars {
    height: 90vh;
}

.guitar {
    height: 66vh;
}

/* images section */

.image {
    display: flex;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.image0 {
    background-image: url("images/guitars.jpg");
}

.image1 {
    background-image: url("images/fender.jpg");
}

.image2 {
    background-image: url("images/gibson.jpg");
}

.image3 {
    background-image: url("images/ibanez.jpg");
}

.image4 {
    background-image: url("images/takamine.jpg");
}

.image5 {
    background-image: url("images/yamaha.jpg");
}

/* text section */

.title {
    background-color: #fff;
    color: #000;
    transition-duration: 0.33s;
    font-size: 2em;
    border-radius: 0.25em;
    padding: 0 0.5em;
    margin-left: -1em;
    text-decoration: none;
}

.title:hover {
    background-color: #79614e;
    color: #fff;
}

.content {
    position: relative;
    margin: 10em auto 1em auto;
    color: #555555;
}

.subtitle {
    text-align: center;
    font-size: 1.75em;
}

.article {
    text-align: justify;
    text-indent: 4em;
    font-size: 1em;
    padding-top: 0.5em;
}